// variables

$color-principal: #e6d6b3;

$color-secundario: #d8c4b3;

$medida-img: 100%;

$letra: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$color-mq: #c2ae9d;

$color-titulo: #302921;